<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ejs</title>

  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    body {
      background-color: #111;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      
    }

    .content {
      color: #fff;
      background-color: crimson;
      padding: 15px 10px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: start;
      width: 300px;
      flex-direction: column;
        margin-bottom: 250px;
    }

    header {
      width: 100vw;
      height: 8vh;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    h3 {
      color: rgb(231, 205, 255);
    }
  </style>
</head>
